<div class="w-full flex flex-col py-3" >

    <div class="w-full flex flex-col items-center">
      <div class="w-full flex flex-row gap-3">
          <div *ngFor="let crypto of cryptos; let i = index"
            class="bg-white   dark:bg-gray-800 p-4 rounded-lg shadow-sm mb-4 w-full">
            <div class="flex items-center justify-between mb-4">
              <img src="{{ crypto.image }}" alt="{{ crypto.name }}" class="w-16 h-16 rounded-full">
              <div class="flex flex-col ml-4">
                <h3 class="text-lg font-semibold text-surface dark:text-white">{{ crypto.name }}</h3>
                <p class="text-sm text-neutral-600 dark:text-neutral-300">Symbol: {{ crypto.symbol }}</p>
                <p class="text-sm text-neutral-600 dark:text-neutral-300">Price: <span class="font-bold">{{
                    crypto.current_price + ' $' }}</span></p>
                <p class="text-sm text-neutral-600 dark:text-neutral-300">24h Change:
                  <span
                    [ngClass]="{'text-green-500': crypto.price_change_percentage_24h > 0, 'text-red-500': crypto.price_change_percentage_24h < 0}"
                    class="font-bold">{{ crypto.price_change_percentage_24h + ' %' }}</span>
                </p>
              </div>
            </div>
          </div>

      </div>


    </div>

</div>
